.heading{
    text-align: center;
    background-color: wheat;
    text-shadow: 0px 0px 5px purple;
    color: navy;
}
.description{
    width: 600px;
    margin: 0 auto;
    background-color: aqua;
    color: navy;
    border: 5px solid navy;
    padding: 10px;
    border-radius: 12px;
    text-align: justify;
    text-indent: 50px;
    text-transform: capitalize;
}
nav{
    background-color: rgb(0, 55, 71);
    padding: 10px;
text-align: center;
}
.nav-link{
    color: white;
    background-color: purple;
    border: 3px solid rgb(213, 236, 5);
    padding: 5px 20px;
    border-radius: 15px;
    text-transform: capitalize;
    text-decoration: none;
    margin: 0 5px;
}