*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.div1{
background-color: beige;
padding: 10px;
width: 49%;
display: inline-block;
}

.div2{
    background-color: lightblue;
    padding: 10px;
    width: 49%;
    display: inline-block;
    }

a{
    color: white;
    background-color: blue;
    padding: 20px;
    text-align: center;
    display: inline-block;
    width: 400px;
    margin-top: 10px;
}    

.div3{
    background-color: brown;
    margin: 20px auto;
    width: fit-content;
    max-width: 600px;
    min-width: 400px;
}
